
@import "./imports/normalize";
@import "./imports/helpers";


@mixin media-query($screen-size){
   @media screen and (min-width: $screen-size){
      @content;
   }
}

*{
   box-sizing: border-box;
}

body {
   font-family: 'Open Sans', 'Helvetica', sans-serif;
}

.header-font{
   font-family: 'Poppins', 'Helvetica' sans-serif;
   font-weight: 700;
}

#app-container{
   // Go for it!

}

